
/*width: 100w;
    left: calc(-50vw + 50%);
margin-left: 10%;*/

footer{
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    background-color:#ff8c12;
    position: relative;

}

          
p {color:#F9F4E0;
padding:5%;
background-color:#436041}

body{font-family: monospace;
background-color:#F9F4E0;}
          
h1{font-family: sans-serif;
    font-size: 2rem;
    color:#ff8c12;
}

h2{font-family: sans-serif;
    font-size: 1rem;
    color:#F9F4E0;
background-color:#436041;padding: 2%;}

h4{font-family: monospace;
    font-size: 1rem;
    color:black;}

#container{
    max-width: 70%;
    margin: 0 auto;}


h3{font-family:sans-serif;
    font-size: 1rem; 
    color:#436041;} 

/* 
<div class="box">
  I have margin and padding set to 10% on all sides.
</div> */
    
a:hover{
    color: #F9F4E0;
background-color: darkgreen;
transition:1s;
    size:2rem;
    
}

ul {
  background: #436041;
  color: #F9F4E0;
  margin: 5px;
  padding: 5%;
}


.container {
  display: flex;
  flex-direction: row;
  background-color: #436041;
    padding: 20px;}
  

.image {
  flex: 1;
  margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.image img {
  max-width: 100%;
  height: auto;

}

.text {
  flex: 1;
  color: white;
    padding: 2%
}





